@font-face {
    font-family: 'SamsungSharpSans';
    src: url('./fonts/samsungsharpsans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SamsungSharpSans';
    src: url('./fonts/samsungsharpsans-bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SamsungSharpSans';
    src: url('./fonts/samsungsharpsans-medium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }